.manage-inventory-sec{
    width: 90%;
    margin: 6rem auto 0 auto;
}
.manage-inventory-sec h1,
.add-new-form h2{
    color: #fff;
    text-align: center;
}
.manage-inventory-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    color: #fff;
}
.add-new-form h2{
    font-weight: 600;
    margin-top: 3rem;
}
.form-container-add{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}