.home-inventory{
    width: 90%;
    margin: 0 auto;
    color: #fff;
}
.home-inventory h1{
    text-align: center;
    margin-bottom: 2rem;
}
.home-inventory-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}
.manage-inventory{
    background-color: #fff;
    color: #000;
    padding: 10px 25px;
    border-radius: 25px;
    justify-content: center;
    margin: 2rem auto 1rem auto;
    display: flex;
    width: 20%;
}